/* Footer Styles */
.footer {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  .footer h5 {
    font-weight: bold;
  }
  
  .footer a {
    color: #f0f0f0;
  }
  
  .footer a:hover {
    color: #f15a24;
    text-decoration: underline;
  }
  
  .footer p {
    font-size: 0.85rem;
    color: #c4c4c4;
  }
  
  .footer ul li {
    margin-bottom: 8px;
  }
  
  .bg-secondary {
    background-color: #1e1e1e !important;
  }
  