{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>Write a New Story</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100">Publish</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4>Your Stories</h4>
        <ul class="list-group">
            {% for story in stories %}
            <li class="list-group-item">
                <strong>{{ story.title }}</strong> - {{ story.story_type }}
                <span class="badge bg-primary float-end">{{ story.published|yesno:"Published,Not Published" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
